
	<div class="row">
		<div class="columns medium-6">
			<div class=" footer-nav">
				<ul>
					<li><a href="#/">About Us</a></li>
					<li><a href="http://psalterapp.weebly.com" target="_blank">a different Proj: iOS App</a></li>
					<li><a href="#/">Press</a></li>
				</ul>
			</div>
			</div>
			<div class="columns medium-6">
			<div class="social-links">
				<ul>
					<li><a href="#/"><i class="fi-social-facebook"></i></a></li>
					<li><a href="#/"><i class="fi-social-instagram"></i></a></li>
					<li><a href="#/"><i class="fi-social-twitter"></i></a></li>
					<li><a href="#/"><i class="fi-social-pinterest"></i></a></li>
					<li><a href="#/"><i class="fi-social-snapchat"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="copyright-label">Copyright &copy; 2016 by Photostory. All rights reserved. 
			<br> This web app is only a demo to display some functionality.</div>
			
		</div>
	</div>

