<div class="done">
	<div class="finished-icon row">
		<div class="columns small-offset-1 small-10 medium-offset-4 medium-4">
			<i class="fi-checkbox approved-lg"></i><br>
			<p>Your uploads are being deleted. Thank you for trying us out!</p>
		</div>
	</div>

	<div class="button-row row">
		

		<div class="columns small-offset-1 small-10 medium-offset-3 medium-3">
			{{#link-to 'index' class="button"}}Home{{/link-to}}
		</div>

		{{!-- <div class="medium-1"></div> --}}

		<div class="columns small-offset-1 small-10 medium-offset-0 medium-3">
			{{#link-to 'create' class="button"}}Create Again!{{/link-to}}
		</div>
		<div class="columns medium-3"></div>
		
	</div>
</div>
